@import 'mixins';
@import 'variables';

h1 {font-size: $type1;}
h2 {font-size: $type2;}
h3 {font-size: $type3;}
h4 {font-size: $type4;}
body {
	font-family: $type;
}

.clearfix:before,
.clearfix:after {
		content: " ";
		display: table;
}

.clearfix:after {
		clear: both;
}

body { margin: 0; transition: all 0.2s}

h1, h2 {line-height: 1.5em}

header{
  padding: 0 20px;
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-size: $type5;
    color: #333;
    font-weight: 200;
  }
  h1 {
    font-size: $type4;
    color: #333;
  }
}
.viz { position: relative }

.tooltip {
	position: absolute;
	font-size: 12px;
	pointer-events: none;
	border: 1px solid #dddddd;
	background-color: rgba(255,255,255,0.8);
	padding: 6px 10px;
	line-height: 16px;
	max-width: 160px;

  em {
    color: #777
  }

  strong {
    display: block;
    margin: 4px 0;
  }
}

text.title {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
}

.node circle {
  cursor: pointer
}

.axis {
  path, line {
    fill: none;
    stroke: #ddd;
    stroke-width: 1;
  }
  text {
    font-size: 10px;
    color: #666;
  }
}

.timeline {
	position: relative;
  z-index: 100;
	background-color: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px 0 0;
	a {
		display: inline-block;
    margin: 0 8px;
    background-color: #eee;
    text-align: center;
		padding: 6px 4px;
		width: 80px;
		cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 200;
    &.selected {
      background-color: #333;
      color: #fff;
    }
	}
}
