@import 'mixins';
@import 'variables';

h1 {font-size: $type1;}
h2 {font-size: $type2;}
h3 {font-size: $type3;}
h4 {font-size: $type4;}
body {
	font-family: $type;
}

.clearfix:before,
.clearfix:after {
		content: " ";
		display: table;
}

.clearfix:after {
		clear: both;
}

body { margin: 0; transition: all 0.2s}

h1, h2 {line-height: 1.5em}

h1 { font-weight: 200; font-size: $type1; margin: 0.25em 0; color: #333333}
h2 { font-weight: 200; font-size: $type4; color: #d2d2d2; margin-bottom: 1.5em}

.viz { position: relative }

.tooltip {
	position: absolute;
	font-size: 12px;
	pointer-events: none;
	border: 1px solid #dddddd;
	background-color: rgba(255,255,255,0.8);
	padding: 6px 10px;
	line-height: 16px;
	max-width: 160px;

  strong {
    display: block;
    margin-bottom: 4px;
  }
}

text.title {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
}

.node circle {
  cursor: pointer
}

.timeline {
	position: fixed;
	width: 1200px;
	bottom: 0px;
	left: 0;
	height: 40px;
	background-color: rgba(255,255,255,0.5);
	a {
		display: block;
		position: absolute;
		padding: 10px 5px;
		width: 80px;
		cursor: pointer;
	}
}
